<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Header Fragment</title>
</head>
<body>
<div th:fragment="headernav">
    <header>
        <div class="d-flex justify-content-start">
            <button onclick="window.history.back()" class="btn">
                <i class="fas fa-arrow-left"></i> Back
            </button>
        </div>
        <div class="logo d-flex align-items-center">
            <img src="/assets/favicon.svg" width="32" height="32" alt="Chaintrade logo">
            <a class="mb-0 ms-2" href="/profile" style="color: black; text-decoration: none !important;">ChainTrade</a>
        </div>
    </header>
    	<br>
    </div>
</body>
</html>
